<button ><a class="nav-item nav-link " [routerLink]="['update']">Matchups</a></button>
<button (click)="generateDraw()" class="btn btn-primary" >GenerateDraw</button>

<form [formGroup]="igralec" (ngSubmit)="dodajIgralca()">
    <div class="form-group">
      <label for="exampleInputEmail1">Ime</label>
      <input type="email" class="form-control"  formControlName="ime" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vnesi ime">
    </div>
   
    {{igralec.value | json}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<router-outlet></router-outlet>