<button ><a class="nav-item nav-link " [routerLink]="['update']">Matchups</a></button>
<button (click)="generateDraw()" class="btn btn-primary" >GenerateDraw</button>
<div *ngIf="test">{{test.isDrawn}}
<form [formGroup]="igralec" *ngIf={{test.isDrawn}}   (ngSubmit)="dodajIgralca()">
    <div class="form-group">
      <label for="exampleInputEmail1">Ime</label>
      <input type="email" class="form-control"  formControlName="ime" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vnesi ime">
    </div>
   
    {{igralec.value | json}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  <div  *ngIf="matchups" >
    <ul *ngFor="let matchup of matchups">
      <h1>Round:{{matchup.round}}</h1>
    <li>{{matchup.home}}</li> vs <li>{{matchup.away}}</li> WINNER:{{matchup.rezultat_ime}}
  </ul>
  </div>

<router-outlet></router-outlet>