

<div *ngIf="route.children.length === 0">

<form   [formGroup]="tournament" (ngSubmit)="createTournament()"  >
  
  <div>
    <label>datum:
      <input  type="datetime-local" required  formControlName="datum" >
    </label>
    <label>Kraj:
      <input   type="text" required  formControlName="kraj" >
    </label>
	</div>
<p>Form value: {{ tournament.value | json }}</p>
 <button  class="btn btn-primary" >Novi turnir</button>
	
</form>
<ul>
  <li *ngFor="let hero of turnir ">
  <a [routerLink]="[hero.id_turnir]">{{ hero.kraj }}</a>  
  </li>
</ul>
 </div>	
 


<router-outlet></router-outlet>